.idea/
cmake-build-debug/.cmake/
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.21.1/
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/gslproject

